/* ---------------------GENERAL--------------------- */
:root{
    --border-radius: 30px;
    --border-weight: 2px;
    --border-weight-bold: 4px;

    --ubuntu: 'Ubuntu', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    --pacifico: 'Pacifico', cursive;
    --creepster: 'Creepster', cursive;

    --principal-color:#75c6ee;
    --secondary-color:#424651; /*#AA77FF;*/
    --third-color:#AF3B6E;
    --forth-color:#fad3ea;
    --fith-color:#4aad7d;

    --white-color: #fff;
    --black-color: #000;
    --gray-color: #f3f3f3;
};


