:root{
    --black:#000;
    --white:#fff;
    --texto:#0f0f0f;
    --titulo: #e03737;
    --subitutlo: #f1dede;
    --subitutloHover: #ec7878;
    --backgroundColor: #1e293c;
}

h1{
    text-shadow: -1px 0px 0px var(--black); /* LEFT*/
    text-shadow: 1px 0px 0px var(--black); /* RIGHT*/
    text-shadow: 0px -1px 0px var(--black);/* TOP*/
    text-shadow: 0px 1px 0px var(--black);/* BOTTOM*/
}
h1, h2{
    color: var(--titulo);
    text-align: center;
    font-size: 40px;
}
h2, h4, h6{
    font-style: italic;
}
h3, h4, h5, h6{
    color: var(--subitutlo);
    font-size: 25px;
}
p{
    color: var(--texto)
}
p, a{
    font-size: 25px;
}
hr, .large-line{
    border-width: 5px;
    border-style: dotted none none;
    border-top-style: dotted; /*una forma mas especifica */
    width: 10%;
    height: 0px;
    border-color: var(--texto);
    display: block;
    margin: 0 auto;
}

/* ############ CLASS */
nav{
    margin: 10px;
    border: 0;
    display: block;
}
.nav-item {
    border-radius: 15px;
    background-color: var(--subitutlo);
    color: var(--backgroundColor);
    display: block;
    margin: 3px;
    overflow: hidden;
    padding: 10px;
    text-decoration: none;
}
.nav-item:hover{
    border-radius: 50px;
    background-color: var(--subitutloHover);
    color: var(--texto);
}
.nav-item:visited{
    font-style: var(--backgroundColor);
}

.profile{
    width: 250px;
    border-radius: 50%;
}

.large-line{
    width: 80%;
    border-color: var(--subitutlo);
}

.hi{
    text-align: center;
    font-size: 25px;
}
/* ###########IDS */


.contanier-bottom{
    width: 70%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.botton-icon{
    display: inline-block;
    padding: 0;
    margin: 2px 0;
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin: 0 0 0 10px;
}

.bottom-item {
    display: inline-block;
    margin: 0;
}
.bottom-rels-content{
    margin: 0 auto;
}
.botton-rel{
    color: var(--subtitulo);
    font-weight: bold;
    position: relative;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    margin: 0 10px 0 0;
}
.botton-rel:hover{
    color:var(--titulo);
}
.botton-icon{
    display: inline-block;
    padding: 0;
    margin: 2px 0;
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin: 0 0 0 10px;
}

#copyright{
    font-size: 1rem;
    font-family: Merriweather, serif;
    font-weight: bold;
    letter-spacing: 1rem; /* 0.5rem = 8px*/
    text-align: center;
    color: var(--subtitulo);
}