:root{
  --color1: #eee;
  --color2:#f5ba13;
  --color3: #fff;
  --color4: #9e9d9d;
  --color5: #ccc;
  --color6: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: var(--color1);
  padding: 0 16px;
  background-image: url("crissxcross.png");
}

header {
  background-color: var(--color2);
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  color: var(--color3);
  
}

header h1 {
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: var(--color5);
}
.note {
  background: var(--color3);
  border-radius: 7px;
  box-shadow: 0 2px 5px var(--color5);
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: var(--color2);
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: var(--color3);
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px var(--color4);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: var(--color2);
  color: var(--color3);
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px var(--color6);
  cursor: pointer;
  outline: none;
}

hr {
  border-width: 0.1rem;
  border-style: none none solid none;
  border-radius: 80%;
  width: 100%;
  height: 0.1rem;
  border-color: var(--color5);
  box-shadow: 0 0.05rem 0.1rem var(--color5);
  display: block;
}
