
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
    
    <div class="top" id="title">
        <h1>Todo List App</h1>
    </div>
    
    <div class="container-flex">
        <nav class="box-flex-row">
            <div class="flex-item">
                <a href="/">Dayli todo list</a>
                <a href="/work">Work list</a>
            </div>
        </nav>
    </div>
    <br>