:root{
    --texto:#497174;
    --titulo: #eb4011;
    --higlithSubtitulo:#f7c900;
    --subtitulo: #565e5e;
    --subitutloHover: #66eaf3;
    --backgroundColor: #EFF5F5;
    --backgroundColorHover: #b7c2c27a;
    --border_radius: 15px;
    --black:#000;
}

body {
    background-color: var(--backgroundColor);
    margin: 0;
}
h1, h2{
    color: var(--titulo);
    text-align: center;
}
h2, h4, h6{
    font-style: italic;
}
h3, h4, h5, h6{
    color: var(--subtitulo);
}
p{
    color: var(--texto)
}

hr, .large-line{
    border-width: 5px;
    border-style: dotted none none;
    border-top-style: dotted; /*una forma mas especifica */
    width: 10%;
    height: 0px;
    border-color: var(--texto);
    display: block;
}

/* ############ CLASS */
.cont-nav{
    margin: 10px;
    border: 0;
    display: block;
    float: none;
}
.nav-item {
    border-radius: 15px;
    background-color: var(--subtitulo);
    text-decoration: none;
    overflow: hidden;
    margin: 3px;
    padding: 10px;
    display: inline;
    float: left;
    color: var(--backgroundColor);
}
.nav-item:hover{
    border-radius: 50px;
    background-color: var(--subitutloHover);
    color: var(--texto);
}
.nav-item:visited{
    font-style: var(--backgroundColor);
}

.profile{
    width: 250px;
    border-radius: 50%;
} 


.large-line{
    width: 80%;
    border-color: var(--subtitulo);
}

.rychy{
    /* background-color: var(--backgroundColorHover); */
    background-color: var(--black);
    border-radius: var(--border_radius);
}
.contanier{
    display: grid;
    place-content: center;
    padding: 0;
    margin: 10px;
    background-color: var(--titulo);
    width: 200px;
    height: 200px;
}
.sqr1, .sqr2, .sqr3{
    display: inline-flex;
    padding: 10px;
    border-width: 10px;
    border-style:solid;
    border-color: var(--black);
    margin: 0px;
    width: 200px;
    height: 200px;
}
.sqr1{
    background-color: var(--titulo);
}
.sqr2{
    border-style: dashed;
    border-width: 15px;
    background-color: var(--higlithSubtitulo);
}
.sqr3{
    border-style: dashed;
    border-width: 20px;
    background-color: var(--texto);
}

.pro{
    text-decoration: underline;
}
/* ###########IDS */
#profession{
    color: var(--higlithSubtitulo);
    font-size: larger;
    text-align: center;
}