:root{
    --texto:#497174;
    --titulo: #eb4011;
    --higlithSubtitulo:#f7c900;
    --subtitulo: #565e5e;
    --subitutloHover: #66eaf3;
    --backgroundColor: #EFF5F5;
    --backgroundColorHover: #b7c2c27a;
    --border_radius: 15px;
    --black:#000;
}

body {
    background-color: var(--backgroundColor);
    text-align: center  ;
}
h1, h2{
    color: var(--titulo);
    text-align: center;
}
h2, h4, h6{
    font-style: italic;
}
h3, h4, h5, h6{
    color: var(--subtitulo);
}
p{
    color: var(--texto)
}

hr, .large-line{
    border-width: 5px;
    border-style: dotted none none;
    border-top-style: dotted; /*una forma mas especifica */
    width: 10%;
    height: 0px;
    border-color: var(--texto);
    display: block;
}
.large-line{
    width: 80%;
    border-color: var(--subtitulo);
}
/* ############ CLASS */
/* ### a floting nav */
.cont-nav{
    margin: 0px;
    border: 0px;
    display: block;
    position: absolute;
}
.cont-fixed{
    margin: 0px;
    border: 0px;
    display: inline-block;
    position: fixed;
}
.nav-item{
    border-radius: 15px;
    background-color: var(--subtitulo);
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    position: relative;
    color: var(--backgroundColor);
}
.nav-item:hover{
    border-radius: 50px;
    background-color: var(--subitutloHover);
    color: var(--texto);
}
.nav-item:visited{
    font-style: var(--backgroundColor);
}



.pro{
    text-decoration: underline;
    text-transform: capitalize;
    font-weight: bold;
}

.container-top{
    margin: 0;
    margin-top: 40px;
    padding: 0;
    text-align: center;
    display: block;
    position: relative;

}
.container-middle{
    margin: 0;
    padding: 0;
    text-align: center;
}

.top-cloud1, .top-cloud2, .top-cloud3{
    position: absolute;
}
.top-cloud1{left: 60%; top: 30px;}
.top-cloud2{left: 80%; top: -25px;}
.top-cloud3{left: 20%;}


/* ###########IDS */
#profession{
    color: var(--texto);
    font-size: larger;
    text-align: center;
}