
<%- include("partials/header.ejs") %>

    <h1>Post | <%= post.title %></h1>
    <p><%= post.content %></p>
    <nav class="nav">
        <a class="nav-item nav-link" href="/">Return</a>
    </nav>


<%- include("partials/footer.ejs") %>
