/* ---------------------GENERAL--------------------- */
:root{
    --color1:#84D2C5;
    --color2:#643843;
    --color3:#C27664;
    --color4:#B05A7A;
    --color5: #fff;
    --color6: #000;
    --color7: #f3f3f3;

    --border-radius-less: 0.5rem;
    --border-radius: 2rem;
    --border-weight: 0.2rem;
    --border-weight-bold: 0.4rem;

    --font-pc-size-xl: 3rem;
    --font-pc-size-l: 2rem;
    --font-pc-size-m: 1.5rem;
    --font-pc-size-s: 1.2rem;
    
    --font-mv-size-xl: 1.4rem;
    --font-mv-size-l: 1rem;
    --font-mv-size-m: 0.8rem;
    --font-mv-size-s: 0.6rem;

    --ubuntu: 'Ubuntu', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    --press-start: 'Press Start 2P', cursive;


    --border-radius: 30px;
    --border-weight: 2px;

}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: var(--montserrat);
}
/*
    documentation
    https://sharkcoder.com/tag/shapes

*/


*{
    margin: 0;
    padding: 0;
    border: 0;

    color: var(--color4);
    font-size: var(--font-pc-size-s);
}

body{
    text-align: center;
    background-color: var(--color1);
    font-family: var(--montserrat);
    font-weight: var(--font-pc-size-s);
    /* background-color: #011F3F; */
    margin: 1rem;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--ubuntu);
    margin: 0rem;
    padding: 0.1rem;
}
h4, h5, h6{
    color: var(--color4);
}
h1{
    color: var(--color2);
    font-size: var(--font-pc-size-l);
}
h2{
    color: var(--color3);
    font-size: var(--font-pc-size-l);
    font-style: italic;
}
h3, h4{
    font-size: var(--font-pc-size-m);
}

p, li{
    text-align: justify;
    color: var(--color4);
    font-size: var(--font-pc-size-s);
}

ol{
    border-radius: var(--border-radius);
    padding: 0;
}
li span{
    font-weight: bold;
}
.todoItem{
    padding: 0.4rem;
    border: var(--border-weight) var(--color2) solid;
    border-radius: var(--border-radius-less);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0.2rem;
    background-color: var(--color5);
    display: inline;
}
.todoItem h3{
    display: inline;
    text-align: left;
    text-transform: uppercase;
}
.todoItem input[type="checkbox"] {
    display: inline;
}

#title{
    text-transform: uppercase;
    text-decoration: underline solid 5px var(--color4);
    color: var(--color5);
}
label{
    font-weight: bold;
    color: var(--color3);
}
footer{
    padding-top: 0.5rem;
    padding-bottom: 3rem;

    font-family: var(--press-start);
    font-size: 0.9rem;
}
button{
    display: inline-block;
    padding: 0.5rem;
    margin: auto;
    text-align: center;

    border: var(--border-weight) var(--color4) solid;
    background-color: var(--color5);

    /* border-radius: var(--border-radius); */
    border-radius: 10px 20px 30px 50px/30px;

    font-size: var(--font-pc-size-m);
    color: var(--color4);
    text-decoration: none;
}
button a{
    font-size: var(--font-pc-size-m);
    color: var(--color4);
    text-decoration: none;
}

button:hover{
    border: var(--border-weight) var(--color4) solid;
    background-color: var(--color1);
    cursor: grab;
}


.button-disabled, .button-disabled:hover{
    opacity: 0.5;
    background-color: gray;
    cursor: not-allowed;
}

.top{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding-top:1rem;
}

.top button{
    margin-top: 0.8rem;
}

.top h1{
    letter-spacing: 1rem;
    line-height: 3rem;
    font-size: var(--font-pc-size-xl);
    color: var(--color2);
    text-align: center;

    text-shadow: 0.4rem 0rem var(--color4);
    -webkit-text-stroke: 0.05rem var(--color4);
}



.container{
    display: block;
    width: 90%;
    margin:0 auto;
    position: static;
}

.container-flex{
    display: flex;
    margin: 0 auto;
    gap: 0.6rem;

    flex-direction: row;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box-flex-column, .box-flex-row{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    width: 100%;
}

.box-flex-row{
    flex-direction: row;
}
.box-flex-column{
    flex-direction: column;
    gap: 0rem;
}

.flex-item{
    flex-grow: 2;
    display: inline;
}

.flex-item a{

    border-radius: var(--border-radius-less);
    text-decoration: none;
    display: inline;

    padding: 0.4rem;
    margin: 0;

    background-color: var(--color5);
    border: var(--border-weight) var(--color3) solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input{
    background-color: var(--color5);
    border: var(--color4) var(--border-weight) solid;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    transition: opacity 1s;
    margin: 0.2rem;
    color: var(--color2);
}
input:focus {
    border: var(--color3) var(--border-weight) double;
}

.input-focus{
    background-color: var(--color3);
}


input:checked + h3 {
    text-decoration: line-through;
    text-decoration-color: #A683E3;
}

@media (max-width: 700px) { 
    .top button{
        margin-top: 0.2rem;
    }


    .top h1{
        letter-spacing: 0.3rem;
        line-height: 1.4rem;
        font-size: var(--font-mv-size-xl);
        text-shadow: 0.1rem 0rem var(--color4);
        -webkit-text-stroke: 0.05rem var(--color4);
    }
    button{
        font-size: var(--font-mv-size-m);
    }
    button a{
        font-size: var(--font-mv-size-m);
    }

    h1{
        font-size: var(--font-mv-size-xl);
    }

}

@media (max-width: 600px) { 

    .top button{
        margin-top: 0.2rem;
    }


    /* .top h1{
        letter-spacing: 0.3rem;
        line-height: 1.4rem;
        font-size: var(--font-mv-size-xl);
        text-shadow: 0.1rem 0rem var(--color4);
        -webkit-text-stroke: 0.05rem var(--color4);
    } */

    button{
        font-size: var(--font-mv-size-m);
    }

    /* button a{
        font-size: var(--font-mv-size-m);
    }

 */

}