:root{
    --texto:#39595c;
    --titulo: #eb4011;
    --higlithSubtitulo:#f7c900;
    --subtitulo: #565e5e;
    --subitutloHover: #66eaf3;
    --backgroundColor: #EFF5F5;
    --backgroundColorHover: #b7c2c27a;
    --border_radius: 15px;
    --black:#000;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    text-align: center;
    /* ESTO ELIGE DE ENTRE LAS FUENTE QUE EL USUARIO TENGA INSTALADO EN SU SISTEMA OPERATIVO
    font-family: opcion1, opcion2, ...opcionN, font-family;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */


    /* pero si lo que se desea, es específicamente una fuente que no cambie, esta la opcion
    de usar FUENTES INCRISTADAS, desde GOOGLE FONTS */
    font-family: Merriweather, serif;
    border: 0;
    margin: 0;
    padding: 0;
}
h1{
    font-family: "Sacramento";
    /* Formas en las que se pueden medir los pixeles*/

    /* CON PORCENTAJES  100% = 16 PIXELES*/
    /* 562.5% = 90px */
    /* font-size: 562.5%;  */
    /* cuando se especifícan los pixeles, estos no cambian cuando el navegador lo hace, se vuelven estaticos
    for that, we can use percents, 
    100% = 16px, so 90/16=562.5% */

    /* CON EMS   1 EM = 16 PIXELES*/
    /* font-size: 5.625em; */
    
    /* CON REM, es igual que un EM, solo que se especifíca que sea root, es decir que no cambie
    ROOT EM = EM DINAMIC WITHOUT CHANGES FROM PARENTES */
    font-size: 5.625rem;
    margin: 50px auto 2px auto; 
}
h2 {
    font-size: 50px;
    margin: 0; 
}
h1, h2{
    color: var(--titulo);
    text-align: center;
}
h2, h3{
    font-family: "Montserrat", sans-serif;
}
.header-font{
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    margin: 0;
}
h2, h4, h6{
    font-style:normal;
    font-stretch: ultra-expanded;
}
h3, h4, h5, h6{
    color: var(--subtitulo);
    margin: 0; 
}
p{
    color: var(--texto)
}

hr, .large-line{
    border-width: 5px;
    border-style: dotted none none;
    border-top-style: dotted; /*una forma mas especifica */
    width: 30%;
    height: 0px;
    border-color: var(--texto);
    display: block;
    margin: 10px auto;
}
.large-line{
    width: 80%;
    border-color: var(--subtitulo);
    margin: 0px auto;
}
/* ############ CLASS */
/* ### a floting nav */
.cont-nav{
    margin: 0;
    padding: 10px 0 0 0;
    width: 100%;
    height: 70px;
    display: block;
    background-color: var(--backgroundColorHover);
    border-width: 10px 0 0 0;
    border-color: var(--backgroundColorHover);
}
.cont-fixed{
    display: block;
    position: fixed;
    top: 20px;
    left: 10px;
}
.nav-item{
    border-radius: 15px;
    margin: 0 0 0 5px;
    padding: 10px;
    background-color: var(--subtitulo);
    text-decoration: none;
    display: inline;
    position:relative;
    color: var(--backgroundColor);
}
.nav-item:hover{
    border-radius: 50px;
    background-color: var(--subitutloHover);
    color: var(--texto);
}
.nav-item:visited{
    font-style: var(--backgroundColor);
}



/* .pro{
    text-decoration: underline;
    text-transform: capitalize;
    font-weight: bold;
} */

.container-top{
    background-color: var(--backgroundColor);
}
.container-middle{

}

.top-cloud1, .top-cloud2, .top-cloud3, .top-cloud4{
    position: absolute;
}
.top-cloud1{
    left: 62%;
    top: 242px;
}
.top-cloud2{
    left: 80%;
    top: 300px;
}
.top-cloud3{
    left: 26%;
    top: 420px
}
.top-cloud4{
    left: 8%;
    top: 276px;
}

.container-sesion-title{
    background-color: var(--backgroundColorHover);
    margin: 0;
    padding: 0;
    border: 0;
    top: 0;
}

.profile-img{
    object-fit: none;
    object-position: 47% 37%;
    /* object-position: X% y%; */

    /* object-position: <position>where <position> = [
    [ left | center | right ] ||
    [ top | center | bottom ] |
    [ left | center | right | <length-percentage> ]
    [ top | center | bottom | <length-percentage> ]? |
    [ [ left | right ] <length-percentage> ] && [ [ top | bottom ] <length-percentage> ] ]
    where <length-percentage> = <length> | <percentage>
    */
    width: 400px;
    height: 400px;
    border-radius: 50% 50% 20% 20%;
    /* border-radius: left-top% right-top% right-bottom%, left-bottom%; */

}

.icon-normal, .icon-small, .contact-me-icon{
    object-fit:scale-down;
    border: 0;
    margin: 0;
    padding: 0;
}
.icon-normal{
    width: 150px;
    height: 150px;
}
.icon-small{
    width: 100px;
    height: 100px;
}
.contact-me-icon, .contact-me-content{
    display: inline-block;
    padding: 0;
    margin: 5px 0;
}
.contact-me-icon{
    width: 50px;
    height: 50px;
}
.contact-me-content{
    position: relative;
    bottom: 25px;
}
.skill-sofware-item{
    display: inline-block;
    margin: 10px 10px;
    padding: 0px;
}
.skill-software-title{
    text-shadow: #FC0 4px 0 10px;
    padding: 0px;
    margin: 0px;
}
.profession{
    color: var(--texto);
    font-size: 2.5rem;
    text-align: center;
}

a, .contact-me-content, .contact-me-content:hover{
    color: var(--texto);
}
a:hover, .contact-me-content:hover{
    color: var(--titulo);
}

/* ###########IDS */

#welcome{
    font-stretch: extra-expanded;
    letter-spacing: 55px;
}